 {% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block titlepage %}Fabfoto-Error{% endblock titlepage %}
{% block content %}
 <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
{% endblock content %}
