/web/bundles/
/app/bootstrap*
/app/DoctrineMigrations/*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/www/bundles/
/www/media/
/www/uploads/
/src/Fabfoto/TrainTimingBundle/Resources/public/js/extjs-4.1.0/resources/sass/.sass-cache/