/web/bundles/
/app/bootstrap*
/app/DoctrineMigrations/*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/www/bundles/
/web/media/
/www/media/
/www/uploads/*
/www/incoming/*
/www/css/*
/www/js/*
/src/Fabfoto/TrainTimingBundle/Resources/public/js/extjs-4.1.0/resources/sass/.sass-cache/
