{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %}Fabbook Home{% endblock title %}
{% block content %}
<div class="jumbotron masthead">
<div class="container">
    <h1>{% trans %}fabbook.title{% endtrans %}</h1>
    <p>{% trans %}fabbook.subtitle{% endtrans %}</p>
  </div>
</div>
<hr>
<div class="container">
<div class="list_articles">
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}from.fabbook{% endtrans %}</small></h1>
    </div>
    <div  class="row">

        <div class="span12 columns">
            {% render 'FabfotoGalleryBundle:Default:lastContent' %}
        </div>
    </div>
    <div class="page-header">
        <h1>{% trans %}thought{% endtrans %}</h1>
    </div>
    
    {% include "FabfotoGalleryBundle:Default:ListNews.html.twig" %}
 	 <div class="span12 center">
        {{ pagerfanta(articles, 'twitter_bootstrap_translated') }}
    	</div>
    </div>
</div>
<hr>
{# This bundle do not work on ovh server
<div class="container">
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}from.tweeter{% endtrans %}</small></h1>
    </div>
    <div  class="row">
        <div class="span12 columns">
            {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'FabbookFr'} , {'standalone': true}%}
        </div>
    </div>
</div>
#}
{% endblock content %}
{% block rss %}
{{path('rss_news')}}
{%endblock rss%}
