{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block titlepage %}Fabfoto-Blog{% endblock titlepage %}
{% block content %}
<h1> Tag : {{tag}} </h1>
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
{% endblock content %}
