{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% import 'FabfotoGalleryBundle:Macro:link.html.twig' as helper %}
{% block title %}Fabbook-Albums{% endblock title %}
{% block content %}
<div class="container" id="page">
<div class="list_album">
    <div class="page-header">
        <h1>Album <small>quelques photos</small></h1>

    </div>
{% include "FabfotoGalleryBundle:Default:ListAlbum.html.twig" %}

<div class="center">
        {{ pagerfanta(albums, 'twitter_bootstrap_translated') }}
    </div>
</div>
</div>
{% endblock content %}
{%block qrLink %}
{{ helper.linkNavBarQrLink(path('albums_mobile'), 'mobile') }}
{%endblock qrLink %}
{% block carroussel %}
{% render 'FabfotoGalleryBundle:Default:allBackground' with {'max': 10} %}
{% endblock carroussel %}

{% block rss %}
{{path('rss_album')}}
{%endblock rss%}
