{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block titlepage %}Fabfoto-Blog{% endblock titlepage %}
{% block content %}

{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}

{% endblock content %}
{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('index_blog_mobile') }}" data-content='<img alt="[QR Code]" src="/{{ mopa_barcode_url("qr", url("index_blog_mobile") ) }}"/>' data-original-title="QR Code">
    Mobile
</a>
{%endblock qrLink %}