{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %}Fabbook-Albums{% endblock title %}
{% block content %}
<div class="container" id="page">
<div class="list_album">
    <div class="page-header">
        <h1>Album <small>quelques photos</small></h1>

    </div>
{% include "FabfotoGalleryBundle:Default:ListAlbum.html.twig" %}

<div class="center">
        {{ pagerfanta(albums, 'twitter_bootstrap_translated') }}
    </div>
</div>
</div>
{% endblock content %}
{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('albums_mobile') }}" data-content='<img alt="[QR Code]" src="{{ mopa_barcode_url("qr", url("albums_mobile") ) }}"/>' data-original-title="{% trans %}mobile{% endtrans %}">
    <div class="visible-desktop"><i class="icon-qrcode icon-black"></i></div>
    <div class="hidden-desktop"><i class="icon-qrcode icon-black"></i> {% trans %}mobile{% endtrans %}</div>
</a>
{%endblock qrLink %}
{% block carroussel %}
{% render 'FabfotoGalleryBundle:Default:allBackground' with {'max': 10} %}
{% endblock carroussel %}

{% block rss %}
{{path('rss_album')}}
{%endblock rss%}
