{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %} {{tag}} {% endblock title %}
{% block content %}
<h1> Tag : {{tag}} </h1>
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
{% endblock content %}
{%block qrLink %}
<a href="{{path('index_blog_mobile') }}">
<img alt="[QR Code]" src="/{{ mopa_barcode_url('qr', url('index_blog_mobile') ) }}"/>
Mobile
</a>
{%endblock qrLink %}