{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block content %}
<div class="list_album">
    {% for album in albums%}
    <a href="{{path('show_album', {'id':album.id})}}" >
        <div class="album_sum_up" style="background: url('/{{album.picturecover.webpath}}');height: 200px">

      <h1 class="album_title">{{album.name}}</h1>

            <p class="album_comment">{{album.comment}}</p>
        </div>
    </a>

    {% endfor %}
</div>
{% endblock content %}
