{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% import 'FabfotoGalleryBundle:Macro:link.html.twig' as helper %}
{% block title %}Fabbook-Blog{% endblock title %}
{% block classPage %}{% endblock classPage %}
{% block stylePage %}{% endblock stylePage %}
{% block content %}
<div class="jumbotron masthead blog">
<div class="container">
    <h1>{% trans %}Blog{% endtrans %}</h1>
    <p>{% trans %}about.it{% endtrans %}</p>
  </div>
</div>
{% render 'FabfotoGalleryBundle:Default:lastContent' with { noAlbum : true }%}
<div class="container">
    <div class="page-header">
        <h1>{% trans %}article{% endtrans %} <small>{% trans %}about.all{% endtrans %}</small></h1>
    </div>
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
<div class="center">
    {{ pagerfanta(ArticlesBlogs, 'twitter_bootstrap_translated') }}
</div>
</div>
{% endblock content %}

{%block qrLink %}
{{ helper.linkNavBarQrLink(path('index_blog_mobile'), 'mobile') }}
{%endblock qrLink %}

{% block rss %}{{path('rss_blog')}}{%endblock rss%}
