{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %} {{tag}} {% endblock title %}
{% block content %}
<div class="jumbotron masthead">
<div class="container">
    <h1>{% trans %}Blog{% endtrans %}</h1>
    <p>about {{tag|lower}}</p>
  </div>
</div>
<hr>
<div class="container">
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
</div>
{% endblock content %}
{%block qrLink %}
 <li>{{ helper.linkNavBarQrLink(path('index_blog_mobile'), 'mobile') }}</li>
{%endblock qrLink %}
{% block rss %}
{{path('rss_blog_tag', {'slug':tag.slug} )}}
{%endblock rss%}
