{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %} {{tag}} {% endblock title %}
{% block content %}

<div class="page-header">
    <h1>Blog <small>about {{tag|lower}} </small></h1>
</div>
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
{% endblock content %}
{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('index_blog_mobile') }}" data-content='<img alt="[QR Code]" src="/{{ mopa_barcode_url("qr", url("index_blog_mobile") ) }}"/>' data-original-title="QR Code">
    Mobile
</a>
{%endblock qrLink %}
