{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %} {{tag}} {% endblock title %}
{% block content %}
<h1> Tag : {{tag}} </h1>
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
{% endblock content %}
