<div id="gallery">
    <ul class="thumbnails">
        {% for picture in pictures%}
        <li>
            <a rel = "picturelist" href="{{picture.webpath }}" title="{{picture}}" data-fancybox-group="thumb" class="fancybox-thumbs thumbnail">
                <img src="{{picture.webpath| apply_filter('thumb_square') }}" alt="{{picture}}" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
