{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block importjs %}
 <script type="text/javascript">
     $(document).ready(function() {
         $('.fancybox-thumbs').fancybox({
                 prevEffect : 'none',
                 nextEffect : 'none',
 
                 closeBtn  : true,
                 arrows    : true,
                 nextClick : true,
 
                 helpers : {
                         thumbs : {
                                 width  : 50,
                                 height : 50
                         }
                 }
         });
 });
 </script>
{% endblock importjs %}
{%block importcss %}
{% stylesheets
        '@FBKJsLibBundle/Resources/public/fancybox/*.css'
        '@FBKJsLibBundle/Resources/public/fancybox/helpers/*.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock importcss %}

{% block content %}
{% if ArticlesBlogs is not empty %}
<div class="page-header">
    <h1>Result <small>for blog </small></h1>
</div>
{% include 'FabfotoGalleryBundle:Default:ListArticleBlog.html.twig' with ArticlesBlogs %}
{% endif %}
{% if albums is not empty %}
<div class="page-header">
    <h1>Result <small>in albums </small></h1>
</div>
<div class="list_album">
{% include "FabfotoGalleryBundle:Default:ListAlbum.html.twig" with albums %}
</div>
{% endif %}
{% if pictures is not empty %}
<div class="page-header">
    <h1>Result <small>for pictures </small></h1>
</div>
{% include 'FabfotoGalleryBundle:Default:ListPicture.html.twig' with pictures %}
{% endif %}


{% endblock content %}
{% block search_query %}
{{keywords}}
{%endblock search_query%}
