[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="fabfoto"
    database_user="root"
    database_password="root"

    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""

    locale="en"

    secret="266afcac3680e980ca10f17cb96ea40131e60529"
    upload_directory_web   = uploads
    upload_directory  = %kernel.root_dir%/../web/%upload_directory_web%
    incoming_directory = %kernel.root_dir%/../web/incoming
