{% extends 'FabfotoUserBundle::layoutLogin.html.twig'%}
{% block body %}
<div class="row">
<div class="span8">
<div class="hero-unit">
	<h2>Fabbook login</h2>
    <form action="{{ path('fabfoto_login_check') }}" method="post" class="form-horizontal">
    <fieldset>
    <legend>Se connecter</legend>
    <div class="control-group">
        <label class="control-label"  for="username">Username:</label>
		<div class="controls">
        	<input type="text" class="input-xlarge" id="username" name="_username" value="{{ last_username }}" />
       		</div>
        </div>
            <div class="control-group">

        <label class="control-label" for="password">Password:</label>
        <div class="controls">
        	<input type="password" id="password" name="_password" />
        </div>
        </div>
    	<div class="control-group">

	    <label  class="control-label" for="remember_me">Keep me logged in</label>
            <div class="controls">
	    <input type="checkbox"  name="_remember_me" checked />
		</div>
        </div>
        {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
        #}
	<div class="control-group">
        <input class="btn btn-primary btn-large" type="submit" name="login" />
         ou <a href="{{path('fos_user_registration_register')}}" class="btn btn-inverse btn-large">Register</a>
        </div>
    </fieldset>


    </form>
</div>
</div>
</div>
{% endblock body %}
