{% extends 'FabfotoUserBundle::layoutUser.html.twig'%}
{% block content %}
<h1>ArticleBlog creation</h1>

<form action="{{ path('writter_blog_create') }}" method="post" {{ form_enctype(form) }}>
    <fieldset class="form_block form_fieldset_NONE">
      <div id="form_field_user">
    {{ form_widget(form) }}
      </div>
      </fieldset>
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('writter_blog') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock content %}
