{% extends 'FabfotoUserBundle::layoutUser.html.twig'%}
{% block content %}
<h1>ArticleBlog creation</h1>

<form action="{{ path('writter_blog_create') }}" method="post" {{ form_enctype(form) }}>
    <fieldset class="form_block form_fieldset_NONE">
      <div id="form_field_user">
    {{ form_widget(form) }}
      </div>
      </fieldset>

<ul class="actions">
    <li>
        <input class="submit_button" type="submit" value="Save">
    </li>
    <li>
        <a href="{{ path('writter_blog') }}">
            Back to the list
        </a>
    </li>
</ul>
</form>
{% endblock content %}
