{% extends 'FabfotoGalleryBundle::layoutMobile.html.twig'%}
{% block content %}
<h1>FabFoto Mobile </h1>
    <ul data-role="listview" data-filter="true">
        {% for article in articles %}
        <li data-role="list-divider">{% if article.createdAt %}{{ article.createdAt|date('d/m/Y') }}{% endif%}</li>
        <li><a href="{{ path('show_article_mobile', { 'id': article.id }) }}">
                <h3>{{ article.title }}</h3>
                <p><strong>{{ article.subtitle }}</strong></p>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
