/* jQuery lightBox plugin - Gallery style */
#gallery {
    padding: 10px;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
    border: 5px solid white;
    border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
    border: 5px solid black;
    border-width: 5px 5px 20px;
    color: black;
}
#gallery ul a:hover { color: black; }

#lightbox-image{
    height: 600px;
}

#lightbox-container-image-box{
    width: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}