/* 
    Document   : style
    Created on : 26 oct. 2011, 18:49:01
    Author     : garciaf
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
img{
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: darkgray;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    margin: 0px 0px 0px 0px;
    width:100%;
    padding:0px;
}
#header {
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    background-attachment: fixed;
    background: url(../image/header.png) no-repeat left bottom;
    background-position: top center;
}
#logo {
    text-align: center;    
    padding: 20px 0 0 15px;
}
#logo h1 {
    margin: 0;
    padding: 0;
    font: italic 36px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#logo h2 {
    margin: -5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;
    color: black;
}
#logo a {
    text-decoration: none;
    color: black;
}
#footer {
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0 0;
    background-position: top center;
    color: black;
}
#footer p {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    font-size: 77%;
}
#content{
    margin: 0 auto;
    border-style:solid;
    border-width:thin;
}
#fullscreen {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#fullscreen img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -400;
}

#nav {
    z-index: 540;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-border-radius: 20px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    height: 110px;
}
#nav ul{
    padding-left: 20px;
    margin: 0;
}
#nav li {
    float: left;
    width: 100px;
    padding-right: 20px;
    display: inline;
    text-align: center;
}
#nav a{
    width: 40px;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}
#nav a:hover{
    text-decoration: none;
    color: darkgray;
}
.navbarLink{
    width: 40px;
}
#page {
    margin-top: 130px;
    margin-left: 30px;
    display: block;
    z-index: 300;
    background: url(../image/bg_fff_90.png);
    width: 800px;
    padding: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.list_album{
    display: block;
}
album_sum_up{
    float: left;
    text-align: center;
}

.title_album{
    text-align: center;

}
#title_album{
    text-align: center;

}
#subtitle_album{
    text-align: center;
    font-weight: lighter;
}

#search {
    float: right; margin: 60px 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
#search input {
    float: left;
    width: 180px;
    padding: 5px 9px;
    height: 23px;
    border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#search button {
    background: whitesmoke;
    -moz-border-radius: 3px 50px 50px 3px;
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    height: 35px;
    margin: 0;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#rss{
    margin-left: 95%;
    height: 20px;
}
.album_title{
    font-family: 'Terminal Dosis', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    text-shadow: 3px 3px 2px #000;
    font-size: 3em;
    font-weight: bold;
}
.album_comment{
    font-family: 'Terminal Dosis', Arial, sans-serif;
    margin: auto;
    color: whitesmoke;
    text-shadow: 3px 3px 2px #000;
    text-align: center;
    font-size: 1.9em;
}

.album_comment:hover{

}

.album_sum_up{
    margin-bottom: 7px;
    background-size: 100% auto;
    height: 150px;
    float: left;
    opacity:0.2;
    width: 100%;
    clip: rect(0px, 50px, 50px, 0px); 
    filter:alpha(opacity=20); /* For IE8 and earlier */
}
.album_sum_up:hover
{
    color: black;
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 400ms;
}
.article{
    font-family: 'Terminal Dosis', Arial, sans-serif;
}
.article h1{
    font-size: 1.8em;
    text-align: center;
}
.article h2{
    font-size: 1.5em;
}
.article p{
    font-size: 1em;
}
.author{
        font-size: 0.9em;
    font-style: oblique;
    color: black;
    font-weight: normal;
text-align: right;
padding-right: 8em;
}
fieldset {
    padding:20px;
    margin-bottom:10px;
}
legend {
    color:#a0522d;
    font-weight:bold
}
label {
    margin-top:20px;
    display:block;
}
label.inline {
    display:inline
}
input {
    border:1px solid black;
    background-color: whitesmoke;
}
input:focus {
    background-color: lightgray;
}
select, option {
    background-color: whitesmoke;
}
textarea {
    border:1px solid black;
    background-color: whitesmoke;
}
textarea:focus {
    background-color: lightgray;
}
.article_blog h1, .article_blog_full h1{
    padding-left: 20px;    
    margin-bottom: 0px;
}
.article_blog h2, .article_blog_full h2{
    font-style: oblique;
    font-size: 1.3em;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.article_blog{
    padding: 10px 10px 10px 10px;   
    margin: 20px 20px 20px 20px;   

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.extra_info_blog{
    font-size: 12px;
    font-style: normal;
    padding-top: 10px;
    margin-left: 50px;
}
.tag{
    margin-top: 10px;
    margin-left: 50px;
}
.tag a
{
    font-style: italic;
}
.tag a:hover
{
    font-weight: bold;
    font-style: italic;
}
.more{
    margin: 10px 10px 10px 50px;
}
.more a{
    padding-top: 10px;
    padding-left: 15px;
    background: url(../image/plus.png) no-repeat left bottom;
}

.blog_content{
    margin-left: 20px;
}
.signature_blog{
    text-align: right;
    font-size: 12px;
    font-style: italic;
}
blockquote{
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-color: black;
    border-left-width: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-border-radius: 20px;
    -webkit-border-radius: 5px;
}

#nav img{
    display: inline-block;
    width: 80px;
    height: 80px; 
}
.title_news{
    text-align: center;
    width: 100%;
    height: 2em;
   }
.title_label{
    font-size: 1.9em;
    font-weight: bold;
}
.createdAt{
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    color: grey;
    float: right;

}
#about_name{
    padding-left: 15px;
    font-family: proxima-nova-1,proxima-nova-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 60px;
}
#about_description{
    font-family: proxima-nova-1,proxima-nova-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 17px;
    padding: 15px;
    text-align: justify;
}
#title_about{
    text-align: justify;
    font-family: proxima-nova-1,proxima-nova-2, "proxima-nova-1", "proxima-nova-2", Tahoma, Helvetica, Verdana, sans-serif;
    font-size: 35px;
    padding-left: 15px;

}
#social{
    text-align: center;
    width : 100%;
}
#social div{
    margin-right: 1em;
    float: right;
}
#social img{
    width: 44px;
}

#pageAbout {
    margin-top: 130px;
    margin-left: 30px;
    display: block;
    z-index: 300;
    background: url(../image/bg_fff_90.png);
    width: 500px;
    padding: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px;
}

#fabfoto_gallerybundle_messagetype div{
    width: 100%;
    float: left;
    margin-bottom: 2em;
}
#fabfoto_gallerybundle_messagetype label{
    margin: 0;
    width: 30%;
    float: left;
    height: 2em;
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: middle;
}
#fabfoto_gallerybundle_messagetype input{
    width: 30%;
    height: 2em;
    float: left;
    border-radius: 10px;

}
#fabfoto_gallerybundle_messagetype textarea{
    width: 30%;
    height: 100px;
    float: left;
    border-radius: 10px;

}
#fabfoto_gallerybundle_messagetype img{
    float: right;
    margin-right: 20%;
}