<!DOCTYPE html>
<html>
    <head Access-Control-Allow-Origin="*" >
        <title>{% block title %}When is my train ? {% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" charset="utf-8" src="http://docs.sencha.com/ext-js/4-1/extjs-build/ext-all.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fabfototraintiming/js/extjs-4.1.0/resources/css/ext-neptune.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fabfototraintiming/css/main.css')}}" />

    </head>

 
    <body>
            {% block content %}lipso lium{%endblock%}    
    </body>
</html>
