/* 
    Document   : style
    Created on : 26 oct. 2011, 18:49:01
    Author     : garciaf
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: black;
}
#headerAdmin {
width: 20%;
float: left;
border-style: solid;
}
ul li{
   list-style: none;
 
}
#logo {
float: right;
padding: 20px 0 0 15px;
}
#logo h1 {
margin: 0;
padding: 0;
font: italic 36px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#logo h2 {
margin: -5px 0 0 0;
padding: 0;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 10px;
font-weight: bold;
color: black;
}
#logo a {
text-decoration: none;
color: black;
}
#footer {
width: 1024px;
height: 90px;
margin: 0 auto;
padding: 40px 0 0 0;
background: url(../image/footer.jpg) no-repeat;
color: black;
}
#footer p {
margin: 0;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
text-align: center;
font-size: 77%;
}
#contentAdmin{
width: 70%;
float: right;
padding: 20px;
margin: 0 auto;
border-style:solid;
border-width:thin;
}

.image_index_admin{
    width: 50px;
    
}
.element_picture{
    width: 250px;
    float: left;
}