{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %}Fabbook registration{% endblock title %}
{% block content %}
<div class="hero-unit well-small">
            <h1>{% trans %}user.register.title{% endtrans %}</h1>
            <h2>{% trans %}user.register.subtitle{% endtrans %}</h2>
</div>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
