<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
        <h1>{{article.title}}</h1>
        <h2>{{article.subtitle}}</h2>
        <div>
            {{article.content}}
        </div>
    </dynamic-page>
</pdf>