{% extends 'FabfotoTrainTimingBundle::layoutMobile.html.twig'%}
{% block content %}
<script type="text/javascript">
    $(function() {
        App.init();
        $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        })
    });
</script>
<script type="text/template" id="info-station-collection-template">
    <div class="table-content">
    	<table class="table table-striped">
	<tr>
            <th>Ligne</th>
            <th>Destination</th>
            <th>Num</th>
            <th>Time</th>
            <th>Real Time</th>
	    <th>Gate</th>
          </tr>
          <tbody>
        <% _.each(infos, function(info) { %>
        <tr>
            <td><%= info.ligne %></td>
            <td><%= info.origdest %></td>
            <td><%= info.num %></td>
            <td><%= info.heure %></td>
            <td><%= info.retard %></td>
            <td><%= info.voie %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>
</script>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar pull-right hidden-desktop" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" id="title-station" href="#">Train App</a>
        <div class="nav-collapse">
            <ul class="nav" id="myTab">
            <li class="active"><a href="#map">Map</a></li>
            <li><a href="#departure">Departure</a></li>
            <li><a href="#arrival">Arrival</a></li>
            </ul>

            <button id="refresh-button" class="btn refresh" onclick="InfoStations.refresh();"><i class="icon-refresh"></i></button>
            <button id="locate-button" class="btn locate" onclick="Stations.locate();"><i class="icon-screenshot"></i></button>
        </div>
      </div>
    </div><!-- /navbar-inner -->
  </div>


 <div class="tab-content" id="myPanel">
  <div class="tab-pane active" id="map">
  </div>
  <div class="tab-pane" id="departure">
</div>
  <div class="tab-pane" id="arrival">

</div>
</div>
{%endblock%}
