{% extends 'FabfotoTrainTimingBundle::layoutMobile.html.twig'%}
{% block content %}
<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>
<div id="map">
</div>
{%endblock%}   