{% extends 'FabfotoTrainTimingBundle::layoutMobile.html.twig'%}
{% block content %}
<script type="text/javascript">
    $(function() {
        App.init();
        $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        })
    });
</script>
<script type="text/template" id="doc-template">
    <span><%= id %></span>
    <span><%= title %></span>
    <span><%= text %></span>
    <span><%= keywords %></span>
</script>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#map"><i class="icon-globe"></i>Map</a></li>
  <li><a href="#departure">Departure</a></li>
  <li><a href="#arrival">Arrival</a></li>
</ul>

 <div class="tab-content" id="myPanel">
  <div class="tab-pane active" id="map">
  </div>
  <div class="tab-pane" id="departure">
	<table class="table table-striped">
	<tr>
            <th>Ligne</th>
            <th>Destination</th>
            <th>Num</th>
            <th>Time</th>
            <th>Real Time</th>
	    <th>Gate</th>
          </tr>
<tbody>
          <tr>
            <td>1</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

          </tr>
          <tr>
            <td>2</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

          </tr>
          <tr>
            <td>3</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

          </tr>
        </tbody>
	</table>
</div>
  <div class="tab-pane" id="arrival">
	<table class="table table-striped">
	<tr>
            <th>Ligne</th>
            <th>Destination</th>
            <th>Num</th>
            <th>Time</th>
            <th>Real Time</th>
	    <th>Gate</th>
          </tr>
<tbody>
          <tr>
            <td>3</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

          </tr>
          <tr>
            <td>1</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

          </tr>
          <tr>
            <td>2</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

          </tr>

        </tbody>
	</table>
</div>
</div>
</div>
{%endblock%}
