<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/" >
    <channel>
        <title>{% block title %}Fabbook{% endblock title %}</title>
        <link>{% block link %}{{url('show_articles')}}{% endblock link %}</link>
        <description>{% block description %}News du site fabfoto, nouveaux albums reflexions critiques{% endblock description %}</description>
        <language>fr</language>
        <copyright>Fabbook</copyright>
        {% block content %}
        {% endblock content %}
    </channel>
</rss>
