{% for type, flashMessages in app.session.flashbag.all() %}
<div id="alert">
    {% for flashMessage in flashMessages %}
        <div class="alert alert-block alert-{{ type }} fade in">
            <a class="close" data-dismiss="alert">×</a>
            <div class="wrap">
            {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}
