{% extends 'FabfotoGalleryBundle::layoutAdmin.html.twig'%}
{% block content %}
<h1>Picture creation</h1>

<form action="{{ path('adminPicture_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <input rel="external" value="Create" type="submit"/>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('adminPicture') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock content %}
