<div class="knp_last_tweets">
    {% if tweets %}
        <div id="tweet_list">
        {% for tweet in tweets %}
        <div class="tweet">
            <div class="tweetText">{{ tweet.text|knp_tweet_urlize }}</div> 
            <div class="date_twitter">le {{tweet.createdAt|date('d/m/Y')}}</div>
        </div>
        {% endfor %}
        </div>
    {% else %}
        No tweets
    {% endif %}
</div>
