{% extends 'AdmingeneratorGeneratorBundle::base_login_assetic_less.html.twig'%}
{% block body %}

<div class="main_content">
<form action="{{ path('fabfoto_login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    <div id="remember_me">
    <label  for="remember_me">Keep me logged in</label>
    <input type="checkbox"  name="_remember_me" checked />
    </div>
    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <input type="submit" name="login" />
</form>
</div>
{% endblock body %}
